.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  justify-content: flex-start;
}

.credits {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  color: #555555;
}
