.guideline {
  height: 12rem;
  border-radius: var(--paper-radius) !important;
  box-shadow: var(--list-box-shadow);
  padding: 16px;
  text-align: center;
}

.toolbar {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  min-height: 2rem;
}

.toolbar > div {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.container {
  min-height: 16rem;
}

.container a {
  text-decoration: none;
  color: initial;
}

.listbox:hover {
  background: rgba(0, 0, 0, 0.05);
}

.listbox:active {
  background: rgba(0, 0, 0, 0.1);
}

.postbox {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 1.5rem;
  margin-top: 0.5rem;
}

.avatarImg {
  height: 1.5rem;
  min-width: 1.5rem;
  margin: 8px;
  margin-left: 0;
}

.username {
  font-size: 0.8rem;
}

.content {
  margin-top: 4px;
  font-size: 1rem;
  line-height: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

.tags {
  display: block;
  width: fit-content;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.25rem;
  padding: 2px;
  border-radius: 4px;
  color: #ffffff;
  background: var(--forest-tag-color);
}

.selectedOptions .tags {
  margin: 0 0 0.5rem 0;
}

.selectedOptions {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.SortBy {
  background: #ffc107;
}

.infobox {
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--color-disabled);
  font-size: 0.9rem;
}

.utils {
  margin: 0;
  padding: 0;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.loading {
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
  padding: 16px 0 0 0;
  margin: 0;
}

/* tags */

.all {
  display: none;
}
